<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.monitoratec.app">

    <!-- Obrigatório para Intent.ACTION_CALL -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.auth.AuthActivity">
            <intent-filter>
                <!-- Main/Launcher Intent Filters -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- OAuth Intent Filters -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="@string/oauth_host" android:scheme="@string/oauth_schema" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.repos.ReposActivity"
            android:label="@string/title_activity_repos"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>